* {
  margin: 0;
}

html, body {
  height: 100%;
}

.content {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -35px;
  padding-bottom: 320px;
}

.footer, .push {
  height: 35px;
}

.footer {
  color: #999999;
  background-color: #000000;
  font-size: 11px;
  text-align: center;
}

.footer ul {
  padding: 10px 0 0 0;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: Liberation Sans, Arial, sans-serif;
  font-size: 12px;
}

h1 {
  margin: 0;
  padding: 5px;
  text-align: center;
  color: #efefef;
  background-color: #666666;
  font-size: 40px;
  white-space: nowrap;
}

#my-ucf {
  width: 700px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  font-size: 16px;
}

form.ucf-app a {
  color: #C77405;
  font-weight: bold;
  text-decoration: none;
}

form.ucf-app a:visited {
  color: #C77405;
}

form.ucf-app a:hover {
  text-decoration: underline;
}

form.ucf-app div.search-wrap {
  margin: 0 0 1.6em 0;
  position: relative;
  clear: both;
  z-index: 1;
}

form.ucf-app div.search-wrap input.search {
  width: 686px;
  font-size: 120%;
  padding: 5px;
}

form.ucf-app div.search-wrap input.search.busy {
  background: #eeeeee url(images/throbber.gif) no-repeat scroll center right;
}

form.ucf-app div.char-wrap {
  background-color: #eeeeee;
  float: left;
  width: 100%;
  margin: 0 0 30px 0;
  z-index: 2;
}

form.ucf-app div.char-wrap div.char-preview {
  float: left;
  position: relative;
  width: 300px;
}

form.ucf-app div.char-wrap div.char-props {
  float: left;
  position: relative;
  width: 400px;
}

form.ucf-app div.char-wrap div.char-preview-label {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 250px;
  z-index: 1;
  text-align: center;
  font-size: 32px;
  line-height: 50px;
  padding: 28px 0 0 0;
  color: #bbbbbb;
  visibility: hidden;
}

form.ucf-app.empty div.char-wrap div.char-preview-label {
  visibility: visible;
}

form.ucf-app input.char {
  position: relative;
  z-index: 2;
  color: #333333;
  background-color: transparent;
  margin: 25px 25px 0 25px;
  width: 250px;
  height: 160px;
  font-size: 130px;
  text-align: center;
  border: 2px solid #bbbbbb;
}

form.ucf-app div.char-wrap div.char-props-label {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 350px;
  z-index: 1;
  text-align: center;
  font-size: 32px;
  line-height: 50px;
  padding: 28px 0 0 0;
  color: #bbbbbb;
  visibility: hidden;
}

form.ucf-app.empty div.char-wrap div.char-props-label {
  visibility: visible;
}

form.ucf-app span.char-buttons {
  position: relative;
  left: 25px;
  visibility: hidden;
}

form.ucf-app div.char-wrap:hover span.char-buttons {
  visibility: visible;
}

form.ucf-app span.char-buttons button {
  margin-bottom: 6px;
  margin-right: 1px;
  width: 84px;
  height: 25px
}

form.ucf-app.empty span.char-buttons button {
  visibility: hidden;
}

form.ucf-app div.sample-wrap {
  color: #cccccc;
}

form.ucf-app div.sample-wrap:hover {
  color: #444444;
}

form.ucf-app div.sample-wrap ul {
  visibility: hidden;
  margin: 0 0 0 1em;
  padding: 0;
  list-style: none;
  display: inline;
}

form.ucf-app div.sample-wrap:hover ul {
  visibility: visible;
}

form.ucf-app div.sample-wrap ul li {
  margin: none;
  padding: 0 0.3em;
  list-style: none;
  display: inline;
}

form.ucf-app.empty div.char-info table {
  visibility: hidden;
}

form.ucf-app div.char-info table {
  margin: 22px 0 0 0;
  width: 375px;
  border-collapse: collapse;
  font-size: 14px;
  color: #333333;
}

form.ucf-app div.char-info table th {
  text-align: left;
  vertical-align: top;
}

form.ucf-app div.char-info span.alias {
  font-size: 90%;
  font-style: italic;
  color: #666666;
}

form.ucf-app div.char-info table th,
form.ucf-app div.char-info table td {
  border: 4px solid #eeeeee;
  padding: 3px;
}

form.ucf-app div.char-info table td {
  width: 236px;
  background-color: #fcfcfc;
  padding-left: 8px;
}

/* -------------------- for auto complete list ------------------------- */

form.ucf-app div.code-point {
  float: left;
  width: 4.2em;
}

form.ucf-app div.code-sample {
  float: left;
  font-weight: bold;
  width: 1.5em;
  text-align: center;
}

form.ucf-app div.code-descr {
  margin-left: 6.4em;
}

form.ucf-app span.code-alias {
  font-size: 92%;
  font-style: italic;
  font-weight: normal;
  padding-left: 0.6em;
}

table.ucf-code-chart {
  border-collapse: collapse;
  font-family: Liberation Sans, Arial, sans-serif;
}

table.ucf-code-chart td {
  border: 1px solid #cccccc;
  padding: 1px 0 0 0;
  font-size: 10px;
  font-size: 17px;
  text-align: center;
  vertical-align: center;
  width: 32px;
  height: 26px;
}

table.ucf-code-chart td.reserved {
  background-color: #eeeeee;
}

table.ucf-code-chart td.curr-char {
  background-color: #fad184;
}

div.ui-dialog-buttonpane {
  font-weight: bold;
}

div.ucf-tab-font {
  width: 32px;
  height: 62px;
  background-image: url(images/tabs.png);
  background-position: 0px -78px;
  position: absolute;
  top: 25px;
  left: -32px;
}

div.ucf-tab-font:hover {
  background-position: 0px 0px;
  cursor: pointer;
}

div.ucf-tab-help {
  width: 32px;
  height: 62px;
  background-image: url(images/tabs.png);
  background-position: 0px -233px;
  position: absolute;
  top: 25px;
  left: 700px;
}

div.ucf-tab-help:hover {
  background-position: 0px 153px;
  cursor: pointer;
}

#ucf-help {
  background-color: white;
}

#ucf-help h1 {
  color: #ff9b08;
  background-color: transparent;
  font-size: 140%;
  text-align: left;
  padding: 0;
  margin: 1.0em 0 0.2em 0;
}

#ucf-help p {
  margin: 0.4em 0 1em 0;
}
