* {
  margin: 0;
}

html, body {
  height: 100%;
}

.content {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -70px;
  padding-bottom: 40px;
}

.footer, .push {
  height: 70px;
}

.footer {
  color: #999999;
  background-color: #000000;
  font-size: 12px;
  line-height: 150%;
}

.footer a {
  color: #ff9b08;
  text-decoration: none;
}
.footer a:visited { color: #ff9b08; }
.footer a:hover { text-decoration: underline; }

.subfoot1 { padding: 0.8em; float: left; text-align: left; }
.subfoot2 { padding: 0.8em; text-align: center; }
.subfoot3 { padding: 0.8em; float: right; text-align: right; }

body {
  margin: 0;
  padding: 0;
  font-family: Liberation Sans, Arial, sans-serif;
  font-size: 12px;
}

h1 {
  margin: 0;
  padding: 5px;
  text-align: center;
  color: #efefef;
  background-color: #666666;
  font-size: 40px;
  white-space: nowrap;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0.2em 0 0.2em 1.4em;
  padding: 0;
}
body .ui-state-default {
  color: #333333 !important;
}

div.ucf-splash-dlg p {
  font-size: 120%;
  margin: 1.6em auto 1.6em auto;
}

div.ucf-splash-dlg p.error {
  color: #AA0000;
  font-weight: bold;
}

p.ucf-loading {
  font-size: 130%;
  width: 7em;
  padding-right: 20px;
  background: #eeeeee url(images/throbber.gif) no-repeat scroll center right;
  margin: 2em auto 2em auto;
}

div.ucf-splash-dlg p span.ui-icon {
  float: left;
  margin-right: 0.6em;
}

#my-ucf {
  width: 700px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.9s;
}

#my-ucf.ready {
  opacity: 1;
}

.ucf-app a,
div#ucf-help a {
  color: #ff9b08;
  font-weight: bold;
  text-decoration: none;
}

.ucf-app a:visited,
div#ucf-help a:visited {
  color: #ff9b08;
}

.ucf-app a:hover,
div#ucf-help a:hover {
  text-decoration: underline;
}

div#ucf-help table.search-types {
  border-collapse: collapse;
}

div#ucf-help table.search-types th {
  white-space: nowrap;
  color: #eeeeee;
  background-color: #666666;
  border: 1px solid #eeeeee;
  padding: 3px 5px;
}

div#ucf-help table.search-types td {
  vertical-align: top;
  border: 1px solid #cccccc;
  padding: 3px 5px;
}

.ucf-app .search-wrap {
  margin: 0 0 1.6em 0;
  position: relative;
  clear: both;
  z-index: 1;
}

.ucf-app .search-wrap .search-reset {
  position: absolute;
  right: 2px;
  top: 1.3em;
  padding: 6px 8px;
  font-weight: bold;
  cursor: pointer;
  color: #ff9b08;
}

.ucf-app .search-wrap .search-reset:hover {
  color: #C77405;
}

.ucf-app .search-wrap.state-empty .search-reset {
  display: none;
}

.ucf-app .search-wrap input.search {
  width: 686px;
  font-size: 120%;
  padding: 5px;
}

.ucf-app .search-wrap.state-empty a.search-link {
  visibility: hidden;
}

.ucf-app .search-wrap a.search-link {
  padding: 0 6px;
  color: #bbbbbb;
}

.ucf-app .search-wrap a.search-link:hover {
  color: #ff9b08;
}

.ucf-app .char-wrap {
  background-color: #eeeeee;
  float: left;
  width: 100%;
  margin: 0 0 30px 0;
  z-index: 2;
}

.ucf-app .char-wrap .char-preview {
  float: left;
  position: relative;
  width: 300px;
}

.ucf-app .char-preview input.unassigned {
  background-image: url(images/reserved-bg.png);
}

.ucf-app .char-preview input.noncharacter {
  background-color: #aaaaaa;
}

.ucf-app .char-preview input.surrogate {
  background-color: #77aa77;
}

.ucf-app .char-preview input.pua {
  background-color: #fafad7;
}

.ucf-app .char-wrap .char-props {
  float: left;
  position: relative;
  width: 400px;
}

.ucf-app .char-wrap .char-preview-label {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 250px;
  z-index: 1;
  text-align: center;
  font-size: 32px;
  line-height: 50px;
  padding: 28px 0 0 0;
  color: #bbbbbb;
  visibility: hidden;
}

.ucf-app.empty .char-wrap .char-preview-label {
  visibility: visible;
}

.ucf-app input.char {
  position: relative;
  z-index: 2;
  color: #333333;
  background-color: transparent;
  margin: 20px 25px 5px 25px;
  width: 250px;
  height: 160px;
  font-size: 130px;
  text-align: center;
  border: 2px solid #bbbbbb;
}

.ucf-app .char-wrap .char-props-label {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 350px;
  z-index: 1;
  text-align: center;
  font-size: 32px;
  line-height: 50px;
  padding: 28px 0 0 0;
  color: #bbbbbb;
  visibility: hidden;
}

.ucf-app.empty .char-wrap .char-props-label {
  visibility: visible;
}

.ucf-app .char-buttons {
  position: relative;
  left: 25px;
}

.ucf-app .char-buttons button.ui-button.ui-state-default {
  font-weight: bold;
  color: #666666 !important;
  font-size: 12px;
  padding: 0 0 0 0;
  margin-bottom: 6px;
  margin-right: 2px;
  width: 83px;
  height: 25px
}

.ucf-app .char-buttons button.ui-button span.ui-button-icon-primary {
  margin: -8px 0 0 4px;
}

.ucf-app .char-buttons button.disabled {
  background-color: yellow;
}

.ucf-app .char-buttons button span.ui-button-text {
  position: relative;
  top: -2px;
}

.ucf-app.empty .char-buttons a.char-link {
  visibility: hidden;
}

.ucf-app .char-buttons a.char-link {
  font-size: 18px;
  padding: 0 4px;
  color: #bbbbbb;
}

.ucf-app .char-buttons a.char-link:hover {
  color: #ff9b08;
}

.ucf-app .sample-wrap {
  display: none;
  color: #cccccc;
  margin-top: 1.0em;
}

.ucf-app .sample-wrap:hover {
  color: #444444;
}

.ucf-app .sample-wrap ul {
  visibility: hidden;
  margin: 0 0 0 1em;
  padding: 0;
  list-style: none;
  display: inline;
}

.ucf-app .sample-wrap:hover ul {
  visibility: visible;
}

.ucf-app .sample-wrap ul li {
  margin: 0;
  padding: 0.4em 0.6em;
  list-style: none;
  display: inline;
  border-radius: 4px;
}

.ucf-app .sample-wrap ul li:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

.ucf-app.empty .char-info table {
  float: left;
  visibility: hidden;
}

.ucf-app .char-info table {
  margin: 22px 0 0 0;
  width: 375px;
  border-collapse: collapse;
  font-size: 14px;
  color: #333333;
}

.ucf-app .char-info table th {
  text-align: left;
  vertical-align: top;
}

.ucf-app .char-info span.alias {
  font-size: 90%;
  font-style: italic;
  color: #666666;
}

.ucf-app .char-info table th,
.ucf-app .char-info table td {
  border: 4px solid #eeeeee;
  padding: 3px;
}

.ucf-app .char-info table td {
  width: 236px;
  background-color: #fcfcfc;
  padding-left: 8px;
}

/* -------------------- for search results list ------------------------- */

.ucf-app .search-results .result-items {
  position: relative;
}

.ucf-app .search-wrap.state-empty .result-items {
  display: none;
}

.ucf-app .result-items li {
  font-size: 1.1em;
  color: #FF9B08;
  font-weight: bold;
  border: 1px solid transparent;
  padding: 4px;
  clear: both;
}

.ucf-app .result-items li.selected,
.ucf-app .result-items li:hover {
  border: 1px solid #fbcb09;
  background: #fdf5ce url("jquery-ui-1.11.4.custom/images/ui-bg_glass_100_fdf5ce_1x400.png") 50% 50% repeat-x;
  color: #c77405;
}

.ucf-app .result-items:hover li.selected {
  background-image: none;
  color: #FF9B08;
}

.ucf-app .result-items:hover li.selected:hover {
  color: #c77405;
}

.ucf-app .code-point {
  float: left;
  width: 4.2em;
}

.ucf-app .code-sample {
  float: left;
  font-weight: bold;
  width: 1.5em;
  text-align: center;
}

.ucf-app .code-descr {
  margin-left: 6.4em;
}

.ucf-app .code-alias {
  font-size: 92%;
  font-style: italic;
  font-weight: normal;
  padding-left: 0.6em;
}

.ucf-app .search-footer {
  padding: 10px 0;
  text-align: center;
  background-color: #eeeeee;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.ucf-app .search-footer .throbber {
  background-repeat: no-repeat;
  background-image: url(images/throbber.gif);
  background-position: right center;
  padding-right: 22px;
}

.ucf-app .search-footer .throbber {
  font-weight: bold;
}

.ucf-app .search-wrap.state-partial .search-footer:hover {
  cursor: pointer;
  background-color: #FF9B08;
  color: #ffffff;
}

.ucf-app .search-wrap .search-footer .complete {
  font-style: italic;
  color: #888888;
}

.ucf-app .search-wrap.state-empty .search-footer,
.ucf-app .search-wrap .search-footer .throbber,
.ucf-app .search-wrap .search-footer .partial,
.ucf-app .search-wrap .search-footer .complete {
  display: none;
}

.ucf-app .search-wrap.state-empty .sample-wrap  { display: block; }

.ucf-app .search-wrap.state-searching .throbber { display: inline; }
.ucf-app .search-wrap.state-partial   .partial  { display: inline; }
.ucf-app .search-wrap.state-complete  .complete { display: inline; }

div.ucf-chart-dialog {
  position: relative;
}

div.ucf-chart-dialog select.ucf-block-menu {
  position: relative;
}

.ucf-chart-wrapper {
  height: 220px;
  border-bottom: 1px solid #cccccc;
  margin: 0 0 8px 0;
  padding: 2px;
  overflow: auto;
}

.ucf-chart-buttons {
  position: relative;
}

.ucf-chart-buttons select {
  position: absolute;
  width: 300px;
  top: 2px;
}

.ucf-chart-buttons button {
  float: right;
  margin-left: 4px;
}

.ucf-chart-buttons button.ui-button span.ui-button-icon-primary {
  margin: -8px 0 0 4px;
}

.ucf-code-chart {
  border-collapse: collapse;
  font-family: Liberation Sans, Arial, sans-serif;
  background-image: url(images/reserved-bg.png);
}

.ucf-code-chart td {
  border: 1px solid #cccccc;
  background-color: #eeeeee;
  padding: 1px 0 0 0;
  font-size: 10px;
  font-size: 17px;
  text-align: center;
  vertical-align: center;
  width: 32px;
  height: 26px;
}

.ucf-code-chart td.unassigned {
  background-color: transparent;
  opacity : 0.3;
}

.ucf-code-chart td.noncharacter {
  background-color: #aaaaaa;
}

.ucf-code-chart td.surrogate {
  background-color: #77aa77;
}

.ucf-code-chart td.pua {
  background-color: #fafad7;
}

.ucf-code-chart td.curr-char {
  background-color: #fad184;
}

div.ui-dialog-buttonpane {
  font-weight: bold;
}

div.ucf-tab-font {
  width: 32px;
  height: 62px;
  background-image: url(images/tabs.png);
  background-position: 0px -78px;
  position: absolute;
  top: 25px;
  left: -32px;
}

div.ucf-tab-font:hover {
  background-position: 0px 0px;
  cursor: pointer;
}

div.ucf-tab-help {
  width: 32px;
  height: 62px;
  background-image: url(images/tabs.png);
  background-position: 0px -233px;
  position: absolute;
  top: 25px;
  left: 700px;
}

div.ucf-tab-help:hover {
  background-position: 0px 153px;
  cursor: pointer;
}

#ucf-help {
  background-color: white;
  font-size: 120%;
}

#ucf-help h1 {
  color: #ff9b08;
  background-color: transparent;
  font-size: 140%;
  text-align: left;
  padding: 0;
  margin: 1.4em 0 0.2em 0;
}

#ucf-help p {
  margin: 0.4em 0 1em 0;
}

#fork-me {
  display: block;
  width: 56px;
  height: 56px;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(images/fork-me.png);
}

#fork-me:hover {
  background-position: 0px -56px;
}

#sample-bookmarks li a {
  display: block;
  float: left;
  width: 8.5em;
}

